.vs/
Debug*/
Release*/
*.o
*.obj
*.db
*.bin
test/asm/SNES/SongSampleList.asm
test/asm/tempmain.asm
test/temp.asm
test/temp.log
test/temp.txt
*.spc

test/samples/**
!test/samples/EMPTY.brr
!test/samples/default/
!test/samples/optimized/
